/* You can add global styles to this file, and also import other style files */
.small-box {
    width: 50px;
    height: 50px;
    background-color: #363333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }